
/*=== MIXIN´s ===*/
@mixin background {
    width:100%;
    height: 424px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;  
}