.tabs {
    position: $positionabsolute;
    width: 100%;  
    float: left;
    box-sizing: border-box;
    bottom: 0;
    border: 1px solid rgba(242, 242, 242, 0.4);
}

.tabs:hover {
    border: 1px solid #FFF;
}
.btn-tabs {
    width: 49%;
    top: 382px;
    font-size: 14px;
    line-height: 0px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
    padding: 22px 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the tab content */
 .tabcontent {
    display: none;
    padding: 25px 0px 0 10px;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.btn-tabs.active {  
 border-top: 3px solid #F2F2F2;
 font-weight: bold;
}

.tabs > .btn-tabs:first-child {
    border-right: 1px solid rgba(242, 242, 242, 0.4);
}


.assine {
    background-color: #FFF;
}

.item-tab {
    width: 46%;
    border-radius: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: inline-block
}
